LikesList.csproj
.vscode/launch.json
.vscode/tasks.json
obj/LikesList.csproj.nuget.dgspec.json
obj/LikesList.csproj.nuget.g.props
obj/LikesList.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
obj/Debug/netcoreapp3.1/LikesList.AssemblyInfo.cs
obj/Debug/netcoreapp3.1/LikesList.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/LikesList.assets.cache
obj/Debug/netcoreapp3.1/LikesList.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/LikesList
bin/Debug/netcoreapp3.1/LikesList.deps.json
bin/Debug/netcoreapp3.1/LikesList.dll
bin/Debug/netcoreapp3.1/LikesList.pdb
bin/Debug/netcoreapp3.1/LikesList.runtimeconfig.dev.json
bin/Debug/netcoreapp3.1/LikesList.runtimeconfig.json
obj/Debug/netcoreapp3.1/LikesList
obj/Debug/netcoreapp3.1/LikesList.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/LikesList.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/LikesList.dll
obj/Debug/netcoreapp3.1/LikesList.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/LikesList.pdb
